body {
  background-color: rgb(10, 26, 28);
}
h1 {
  color: pink;
}
h2 {
  color: pink;
}
p {
  color: powderblue;
}
a {
  color: powderblue;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
