* {
  color: powderblue;
}
body {
  background-color: rgb(10, 26, 28);
}
h1 {
  color: pink;
}
h2 {
  color: pink;
}
code {
    font-family: monospace;
    color: crimson;
}
#container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.rs-school-logo {
  display: block;
  text-align: right;
  width: 50%;
  height: auto;
}
